---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import RelatedPosts from "../components/RelatedPosts.astro";
import { SITE_TITLE } from "../config";

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
        heroImage?: string;
        tags?: string[];
        url?: string;
        author?: string;
    };
}

const {
    content: {
        url,
        title,
        description,
        pubDate,
        updatedDate,
        heroImage = "/cover.png",
        tags = [],
        author = "Lucas Sifoni",
    },
} = Astro.props;

// Generate canonical URL
const canonicalURL = url ? new URL(url, Astro.site) : Astro.url;
---

<html lang="en">
    <head>
        <BaseHead
            title={SITE_TITLE + " - " + title}
            description={description}
            image={heroImage}
            canonical={canonicalURL.pathname}
            publishDate={pubDate}
            modifiedDate={updatedDate}
            type="article"
            tags={tags}
            author={author}
        />
        <style>
            .title {
                font-size: 2.4em;
                margin: 0.5em 0;
                font-weight: 500;
            }
            hr {
                margin: 1rem 0;
            }
            .footer_additions ul,
            li {
                display: inline;
                margin: 0;
                padding: 0;
            }
            .footer_additions li::after {
                content: " / ";
            }
            .footer_additions li.noslash::after {
                content: "";
            }
            .footer_additions li:last-child::after {
                content: "";
            }
        </style>
    </head>

    <body>
        <Header have_langs={false} />
        <main style="margin-top: 2em;">
            <article>
                <h1 class="title" set:html={title.replace("--", "<br/>")} />
                {
                    (tags || []).length && (
                        <div
                            class="tags-container"
                            style="margin-bottom: .75em;"
                        >
                            <div class="tags">
                                {(tags || []).map((t) => (
                                    <a href={"/blog/tag/" + t}>
                                        <span class={"tag " + t}>{t}</span>
                                    </a>
                                ))}
                            </div>
                        </div>
                    )
                }
                {pubDate && <time style="font-size: 0.7rem">{pubDate}</time>}

                {
                    updatedDate && (
                        <div>
                            Last updated on <time>{updatedDate}</time>
                        </div>
                    )
                }
                <Navigation me={url} />
                <hr />
                <slot />
            </article>

            {
                (tags || []).length > 0 && (
                    <RelatedPosts
                        currentTags={tags || []}
                        currentUrl={url}
                        minCommonTags={1}
                    />
                )
            }
        </main>
        <Footer />
    </body>
</html>
